{% extends 'base.html.twig'%}

{% block title %}Bienvenido a WikiCervezas{% endblock %}

{% block body %}
    <div class="detalle">
        <h1>Detalle de una Cerveza </h1>
        <br>
        <h3>Nombre</h3>
        <p>{{ cerveza.getNombre }}</p>
        <h3>Graduacion</h3>
        <p>{{  cerveza.getGraduacion}}</p>
        <h3>Categoria</h3>
        <p>{{ cerveza.getCategoria}}</p>
        <h3>Descripción</h3>
        <p>{{ categoria.getDescripcion }}</p>

        <h3>Etiquetas</h3>
        {% for cerve in cerveza.getEtiqueta %}
            <p>{{ cerve }}</p>
        {% endfor %}
    </div>
{% endblock %}
