{% extends 'base.html.twig'%}

{% block title %}Bienvenido a WikiCervezas{% endblock %}
{% block body %}

    <p>breve descripcion de la empresa jjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj<br>
      jkdfhdhjfhjdfhjdhf  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium <br>
        consequuntur culpa cumque dolores eveniet id in iusto magnam natus necessitatibus numquam <br>
        obcaecati, omnis, optio quasi recusandae, reiciendis repudiandae ut voluptas?
    </p>
    <p> <a href="{{ path('easyadmin') }}">Añadir cerveza</a> </p>
    <table class="tabla" border="1px solid">
      <thead>
      <th>Nombre</th>
      <th>Graduación</th>
      <th>Categoria</th>
      <th>Etiqueta</th>
      </thead>
      <tbody>
      {% for cerve in cerveza %}
          <tr>
              <td><a href="{{ path('detalle',{id:cerve.getId}) }}">{{ cerve.nombre }}</a></td>
              <td>{{ cerve.graduacion }}</td>
              <td>{{ cerve.categoria }}</td>
              <td>
                  {% for etiqueta in cerve.getEtiqueta() %}
                      {{ etiqueta.nombre  }}
                  {% endfor %}

              </td>
          </tr>
      {% endfor %}

      </tbody>
     </table>
    <button id="verMas">+ ver más </button>


    {% block javascripts %}
        <script src="{{ asset('verMas') }}" type="text/javascript"></script>
        {# {{ include('./js/verMas.js') }} #}
    {% endblock %}
{% endblock %}

